.about {
  /* background-color: #f9f9f9; */
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.about h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

.about p {
  font-size: 24px;
  color:  #ffcc00;
  font-weight: 400;
  font-style: bold;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about h3 {
  font-size: 48px;
  margin-top: 30px;
  color:white
}

.about ul {
  padding-left: 20px;
}

.about ul li {
  font-size: 24px;
  margin-bottom: 8px;
  color:  #ffcc00;
  font-style: bold;
}
