.projects {
  background-color: #ffcc00;
  padding: 30px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  max-width: 1200px;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.projects h2 {
  font-size: 38px;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background-color: #555;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  transform: scale(1.015);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.project-card-content {
  text-align: center;
}

.project-card h3 {
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

.project-card p {
  font-size: 15.5px;
  color: whitesmoke;
  font-style: bold;
  margin: 6px 0;
  line-height: 1.5;
}